{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module"
    },
    "rules": {
        "no-console": 1
    },
    "globals": {
        "require": false,
        "describe": false,
        "it": false,
        "beforeEach": false,
        "afterEach": false,
        "module": false,
        "console": false,
        "global": false,
        "runQuokkaMochaBdd": false,
        "Symbol": false
    }
}